.cards-grid__like-button {
  width: 21px;
  min-height: 22px;
  background-image: url("./../../../images/like-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  flex-shrink: 0;
}

.cards-grid__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
