.profile__add-button {
  margin-left: auto;
  background-image: url("./../../../images/add-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  background-color: transparent;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    width: 100%;
    background-size: 16px 16px;
  }
}
