.page__container {
  margin: 0 auto;
  padding: 45px 0 60px;
  width: 100%;
  max-width: 880px;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  .page__container {
    padding: 28px 0 36px;
  }
}
