.form__submit {
  margin-top: 25px;
  height: 50px;
  border: none;
  background-color: #000000;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.form__submit:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 535px) {
  .form__submit {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
